@keyframes movebutton {
    from {
        transform: translateY(0);
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(5rem);
        transform: translateY(0);
    }
}

@keyframes progressHide {
    100% {
        transform: scale(1);
    }
}

@keyframes moveDowm {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    80% {
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    80% {
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}