.played {
    &::after {
        content: "";
        width: 20rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to left, rgba(#1A1A1A00, .8), rgba(#1A1A1A00, 0));
    }

    & .row {
        margin-left: 5vw;
        position: relative;
    }
    &__container {
        overflow-x: auto;
        border-radius: 2rem;
        user-select: none;
        &::-webkit-scrollbar {
            height: 1rem;
            display: block;
            margin-left: 2rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $primary-color;
            border-radius: 2rem;
        }
        &::-webkit-scrollbar-track {
            border-radius: 2rem;
            background-color: rgba($color: #1A1A1ACC, $alpha: .8);
        }
    }
    & .col {
        padding-right: 2rem;
    }

    & .play__item {

        &-img-box {
            position: relative;
        }
        &-progress {
            position: absolute;
            bottom: 1.8rem;
            margin: 0 5%;
            border-radius: 2rem;
            width: 90%;
            height: 0.8rem;
            transform: scale(0);
            transform-origin: left;
            animation: progressHide 1s cubic-bezier(1,0,0.5,1) forwards;
            background-color: rgba($color: #595959, $alpha: 1);

            & span {
                height: 0.8rem;
                width: 50%;
                border-radius: 2rem;
                transform: scale(0);
                transform-origin: left;
                animation: progressHide 1s 1s cubic-bezier(1,0,0.5,1) forwards;
                background-color: $primary-color;
                position: absolute;
            }
        }
        &-link {
            text-decoration: none;
        }
        &-heading {
            font-size: 3.2rem;
            line-height: 3.8rem;
            font-weight: 700;
            color: $white-color;
        }
        &-time {
            font-size: 1.6rem;
            color: $text-color;
            line-height: 2rem;
            margin-bottom: 2rem;
            display: block;
        }
    }
}