.recommended {
    margin-bottom: 4rem;
    &::after {
        content: "";
        width: 10rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to left, rgba(#1A1A1A00, .8), rgba(#1A1A1A00, 0));
    }

    & .row {
        margin-left: 5vw;
    }
    .col {
        padding-right: 2rem;
    }

    &__item {

        &-link {
            text-decoration: none;
        }

        &-heading {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.8rem;
            color: $white-color;
            margin-bottom: 2rem;
        }
        &-img {
            margin-bottom: 2.4rem;
        }
    }
}