.row {
  display: flex;
}

/* pc */
@media (min-width: 64em) {
  .grid {
    width: 100%;
    padding: 0;
    display: block;
  }
  .grid.wide {
    position: relative;
    max-width: 90vw;
    margin: 0 5vw;
  }
  .l-0 {
    display: none;
  }
  .l-1,
.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    width: 16.66667%;
  }
  .l-3 {
    width: 25%;
  }
  .l-4 {
    width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/* tablet */
@media (min-width: 46.3125em) and (max-width: 63.9375em) {
  .wide {
    width: 644px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* mobile */
@media (max-width: 46.25em) {
  .wide {
    width: 100%;
  }
  .c-0 {
    display: none;
  }
  .c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .c-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .c-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .c-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .c-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .c-o-1 {
    margin-left: 8.33333%;
  }
  .c-o-2 {
    margin-left: 16.66667%;
  }
  .c-o-3 {
    margin-left: 25%;
  }
  .c-o-4 {
    margin-left: 33.33333%;
  }
  .c-o-5 {
    margin-left: 41.66667%;
  }
  .c-o-6 {
    margin-left: 50%;
  }
  .c-o-7 {
    margin-left: 58.33333%;
  }
  .c-o-8 {
    margin-left: 66.66667%;
  }
  .c-o-9 {
    margin-left: 75%;
  }
  .c-o-10 {
    margin-left: 83.33333%;
  }
  .c-o-11 {
    margin-left: 91.66667%;
  }
}
@keyframes movebutton {
  from {
    transform: translateY(0);
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(5rem);
    transform: translateY(0);
  }
}
@keyframes progressHide {
  100% {
    transform: scale(1);
  }
}
@keyframes moveDowm {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.home__heading {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #FFFFFF;
  padding: 4rem 0;
  text-transform: capitalize;
  margin-left: 5vw;
}

* {
  box-sizing: inherit;
}

html {
  font-family: "raleway", serif;
  font-size: 62.5%;
}

.home {
  background-color: #060238;
}

.upercase {
  text-transform: uppercase !important;
}

.clear {
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  background-color: #6200EA;
  border: 0;
  outline: none;
  padding: 1.6rem 3.2rem;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
}
.btn:hover .btn-link {
  transform: translateY(5rem);
}
.btn:hover .btn-link-hiden {
  transform: translateY(calc(50% + 7rem));
}
.btn-link {
  transform: translateY(0);
  transition: all 0.25s;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-decoration: none;
}
.btn-link-hiden {
  transition: all 0.25s;
  position: absolute;
  bottom: calc(100% + 4rem);
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-decoration: none;
}
.btn-category {
  background-color: transparent;
  border: 1px solid #595959;
}
.btn-category .btn-link {
  color: #595959;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
}
.btn-category .btn-link-hiden {
  color: #595959;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.hover {
  user-select: none;
  cursor: pointer;
}

.header {
  position: relative;
  height: 100vh;
}
.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .grid.wide {
  position: relative;
  height: 100%;
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  align-items: center;
}
.header .navigation__left {
  display: flex;
  align-items: center;
}
.header .navigation__right {
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  padding-top: 0.2rem;
  margin-right: 2.4rem;
  animation: moveDowm 1s ease-in-out backwards;
}
.header__link-browse {
  padding: 1.6rem;
  color: #F5F5F5;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 300;
  font-family: "raleway", serif;
  animation: moveDowm 1s 0.25s ease-in-out backwards;
  margin-right: 1.6rem;
}
.header__search-button {
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 1.2rem;
  cursor: pointer;
  animation: moveDowm 1s 0.5s ease-in-out backwards;
  border-radius: 50%;
}
.header__search-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.header__account {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #6200EA;
  border-radius: 10rem;
  animation: moveDowm 1s 0.25s ease-in-out backwards;
  margin-right: 1rem;
}
.header__account:hover .header__account-content {
  transform: translateY(5rem);
}
.header__account:hover .header__account-content-hiden {
  transform: translateY(calc(-50% + 1rem));
}
.header__account-content {
  padding: 1.25rem 1.6rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  transition: all 0.25s;
  transform: translateY(0);
  position: relative;
}
.header__account-content-hiden {
  transition: all 0.25s;
  position: absolute;
  bottom: calc(100% + 1rem);
}
.header__account-greet {
  font-weight: 400;
}
.header__account-name {
  font-weight: 700;
}
.header__account-img {
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.1s;
}
.header__account:hover .header__account-img {
  transform: scale(1.1);
  filter: blur(0.2rem) brightness(90%);
}
.header__setting {
  cursor: pointer;
  padding: 1rem;
  animation: moveDowm 1s ease-in-out backwards;
  border-radius: 50%;
}
.header__setting:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.header__info {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: moveRight 1.5s ease-in-out backwards;
  bottom: 4rem;
}
.header__info-sponsored {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 400;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 10rem;
  margin-bottom: 2rem;
  padding: 1.2rem;
}
.header__info-sponsored img {
  margin-right: 0.6rem;
  margin-left: 2rem;
}
.header__info-content {
  color: #FFFFFF;
  margin-bottom: 2.8rem;
}
.header__info-content-name {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 600;
}
.header__info-content-desc {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 500;
}
.header__info-play-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.header__info-play-box .btn-link-hiden img, .header__info-play-box .btn-link img {
  margin-right: 2.8rem;
}
.header__info-plus {
  padding: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 3.2rem;
  border-radius: 50%;
  transition: 0.25s;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__info-plus:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header__info-link {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-left: 3.6rem;
}

.played::after {
  content: "";
  width: 20rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0));
}
.played .row {
  margin-left: 5vw;
  position: relative;
}
.played__container {
  overflow-x: auto;
  border-radius: 2rem;
  user-select: none;
}
.played__container::-webkit-scrollbar {
  height: 1rem;
  display: block;
  margin-left: 2rem;
}
.played__container::-webkit-scrollbar-thumb {
  background-color: #6200EA;
  border-radius: 2rem;
}
.played__container::-webkit-scrollbar-track {
  border-radius: 2rem;
  background-color: rgba(26, 26, 26, 0.8);
}
.played .col {
  padding-right: 2rem;
}
.played .play__item-img-box {
  position: relative;
}
.played .play__item-progress {
  position: absolute;
  bottom: 1.8rem;
  margin: 0 5%;
  border-radius: 2rem;
  width: 90%;
  height: 0.8rem;
  transform: scale(0);
  transform-origin: left;
  animation: progressHide 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  background-color: #595959;
}
.played .play__item-progress span {
  height: 0.8rem;
  width: 50%;
  border-radius: 2rem;
  transform: scale(0);
  transform-origin: left;
  animation: progressHide 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  background-color: #6200EA;
  position: absolute;
}
.played .play__item-link {
  text-decoration: none;
}
.played .play__item-heading {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: 700;
  color: #FFFFFF;
}
.played .play__item-time {
  font-size: 1.6rem;
  color: #8C8C8C;
  line-height: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.sponsored {
  margin-top: 3.2rem;
}
.sponsored .row {
  margin-right: -1rem;
  margin-left: -1rem;
}
.sponsored .col {
  padding-left: 1rem;
  padding-right: 1rem;
}
.sponsored__item-link {
  text-decoration: none;
}
.sponsored__img {
  border-radius: 2rem;
  object-fit: cover;
}
.sponsored__sub-box {
  background-color: #6200EA;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #FFFFFF;
  padding: 0.4rem 1.2rem;
  display: inline-block;
  border-radius: 2rem;
  position: absolute;
  bottom: 1.8rem;
  left: 1.8rem;
}
.sponsored__img-box {
  position: relative;
  margin-bottom: 0.8rem;
}
.sponsored__heading {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
.sponsored__time {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #8C8C8C;
}

.recommended {
  margin-bottom: 4rem;
}
.recommended::after {
  content: "";
  width: 10rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0));
}
.recommended .row {
  margin-left: 5vw;
}
.recommended .col {
  padding-right: 2rem;
}
.recommended__item-link {
  text-decoration: none;
}
.recommended__item-heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.recommended__item-img {
  margin-bottom: 2.4rem;
}

.category {
  background-color: #311B92;
  padding-bottom: 4rem;
}
.category::after {
  content: "";
  width: 10rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0));
}
.category__button-box {
  display: flex;
  justify-content: center;
  margin-top: 7.2rem;
  padding-bottom: 7.2rem;
}
.category .row {
  padding-bottom: 2rem;
  margin-left: 5vw;
  overflow-x: auto;
  user-select: none;
}
.category .row::-webkit-scrollbar {
  height: 1rem;
  display: block;
  margin-left: 2rem;
}
.category .row::-webkit-scrollbar-thumb {
  background-color: #1D1056;
  border-radius: 2rem;
}
.category .row::-webkit-scrollbar-track {
  border-radius: 2rem;
  background-color: #7763ec;
}
.category .col {
  margin-right: 5.6rem;
}
.category__item {
  padding: 0 4.2rem;
  display: block;
  text-decoration: none;
}
.category__img {
  width: 15.2rem;
  height: 15.2rem;
  border-radius: 2rem;
  object-fit: cover;
  margin-bottom: 2.4rem;
}
.category__heading {
  color: #1D1056;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  text-align: center;
}

.award {
  overflow: hidden;
}
.award::after {
  content: "";
  width: 10rem;
  height: 37rem;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0));
}
.award .row {
  margin-left: 5vw;
}
.award .col {
  margin-right: 2rem;
}
.award__img {
  border-radius: 2rem;
}
.award__img-box {
  position: relative;
  margin-bottom: 2.4rem;
}
.award__sub-box {
  background-color: #F9A825;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #1A1A1A;
  padding: 0.4rem 1.2rem;
  display: inline-block;
  border-radius: 2rem;
  position: absolute;
  bottom: 1.8rem;
  left: 1.8rem;
}
.award__item-link {
  text-decoration: none;
}
.award__item-heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.footer {
  background-color: #060320;
  position: relative;
}
.footer__logo {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
.footer__logo {
  padding: 3.2rem 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.footer .row {
  border-bottom: 2px solid #8C8C8C;
  padding-bottom: 4.8rem;
  padding-top: 11rem;
  z-index: 10;
}
.footer-link {
  color: #8C8C8C;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
}
.footer-link:not(:last-child) {
  margin-bottom: 2.4rem;
}
.footer .col {
  display: flex;
  flex-direction: column;
}
.footer .col:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer__copyright {
  color: #8C8C8C;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
  padding: 1.6rem 0;
  text-align: center;
}
.footer .language {
  width: 15rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #8C8C8C;
  display: flex;
  align-items: center;
  padding: 0.9rem 1.6rem;
  border-radius: 10rem;
  border: 1px solid #8C8C8C;
  cursor: pointer;
}
.footer .language-name {
  width: 11rem;
}
.footer .language-select {
  display: flex;
  align-items: center;
}
.footer .language-down-icon {
  margin-right: 0.8rem;
}
.footer .social {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3.2rem;
}

/*# sourceMappingURL=main.css.map */
